<div id="readme" class="rounded-lg overflow-hidden shadow-md my-8">
    <header class="flex items-center bg-blue-600 px-4 py-3 text-white">
        <i class="fas fa-book fa-lg pr-3"></i> README.md
    </header>

    <article class="bg-gray-100 rounded-b-lg px-12 py-8 {{ readme.getExtension == 'md' ? 'markdown' : 'font-mono' }}">
        {% if readme.getExtension == 'md' %}
            {{ markdown(readme.getContents) | raw }}
        {% else %}
            {{ readme.getContents | nl2br }}
        {% endif %}
    </article>
</div>
