<footer class="container border-t-2 border-gray-800 text-center mx-auto px-4 py-8 xl:max-w-screen-xl dark:text-white dark:border-white">
    <div class="flex flex-col justify-center items-center">
        <p class="mb-4">
            {{ translate('powered_by') }} <a href="https://www.directorylister.com" class="underline hover:text-blue-700 dark:hover:text-purple-700">Directory Lister</a>
        </p>

        <div class="flex">
            <a href="https://github.com/DirectoryLister/DirectoryLister" title="GitHub" class="text-gray-400 mx-2 hover:text-github">
                <i class="fab fa-github fa-lg"></i>
            </a>

            <a href="https://bsky.app/profile/directorylister.com" title="Bluesky" class="text-gray-400 mx-2 hover:text-bluesky">
                <i class="fab fa-bluesky fa-lg"></i>
            </a>

            <a href="https://github.com/DirectoryLister/DirectoryLister/discussions" title="Discussions" class="text-gray-400 mx-2 hover:text-purple-600">
                <i class="fas fa-comments fa-lg"></i>
            </a>
        </div>
    </div>
</footer>
