<footer class="container border-t-2 border-gray-800 text-center mx-auto px-4 py-8">
    <div class="flex flex-col justify-center items-center">
        <p class="mb-4">
            {{ translate('powered_by') }} <a href="https://www.directorylister.com" class="underline hover:text-blue-700">Directory Lister</a>
        </p>

        <div class="flex">
            <a href="https://github.com/DirectoryLister/DirectoryLister" title="GitHub" class="text-gray-400 mx-2 hover:text-github">
                <i class="fab fa-github fa-lg"></i>
            </a>

            <a href="https://twitter.com/DirectoryLister" title="Twitter" class="text-gray-400 mx-2 hover:text-twitter">
                <i class="fab fa-twitter fa-lg"></i>
            </a>

            <a href="https://spectrum.chat/directory-lister" title="Spectrum" class="text-gray-400 mx-2 hover:text-spectrum">
                <i class="fas fa-comments fa-lg"></i>
            </a>
        </div>
    </div>
</footer>
