<div class="fixed bottom-0 left-0 right-0 pointer-events-none" x-data="{ visible: false }"
    x-init="visible = window.scrollY > 10" x-show="visible" x-transition.opacity
>
    <div class="container flex justify-end mx-auto px-4 py-10 xl:max-w-screen-xl">
        <button title="{{ translate('scroll_to_top') }}" class="flex justify-center items-center w-12 h-12 right-0 rounded-full shadow-lg bg-blue-600 text-white cursor-pointer pointer-events-auto hover:bg-blue-700 dark:bg-purple-700 dark:hover:bg-purple-800"
            @click="window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });" @scroll.window="visible = window.scrollY > 10"
        >
            <i class="fas fa-arrow-up fa-lg"></i>
        </button>
    </div>
</div>
