<div class="fixed bottom-0 left-0 right-0 pointer-events-none">
    <div class="container flex justify-end mx-auto px-4 py-10">
        <button id="scroll-to-top" ref="scrollToTop"  title="{{ translate('scroll_to_top') }}"
            class="flex justify-center items-center w-12 h-12 right-0 rounded-full shadow-lg bg-blue-600 text-white cursor-pointer pointer-events-auto hover:bg-blue-700 hidden"
            onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });"
        >
            <i class="fas fa-arrow-up fa-lg"></i>
        </button>
    </div>
</div>
