<div class="flex flex-col justify-center items-center bg-gray-900 bg-opacity-30 rounded-full cursor-pointer w-4 h-8" title="{{ translate('toggle_theme') }}" @click="toggleTheme()">
    <div class="flex justify-center items-center bg-white w-5 h-5 rounded-full shadow-md duration-300 ease-in-out -translate-y-2 dark:translate-y-2">
        <i class="fas fa-lightbulb fa-xs text-yellow-400 dark:text-gray-600"></i>
    </div>
</div>
