parameters:
  level: 8

  paths:
    - app
    - tests

  excludePaths:
    - app/cache/*
    - app/vendor/*

  tmpDir: .cache/phpstan

  stubFiles:
    - stubs/DI/Container.stub

  checkFunctionNameCase: true

  reportUnmatchedIgnoredErrors: false

  exceptions:
    implicitThrows: false

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    uncheckedExceptionClasses:
      - 'DI\DependencyException'
      - 'InvalidArgumentException'
      - 'Invoker\Exception\NotCallableException'
      - 'JsonException'
      - 'LogicException'
      - 'RuntimeException'
      - 'Psr\Cache\InvalidArgumentException'
      - 'SebastianBergmann\RecursionContext\InvalidArgumentException'
      - 'Symfony\Component\Cache\Exception\CacheException'
      - 'PHPUnit\Framework\Exception'

includes:
  - phpstan-baseline.neon
  - phpstan-ignores.neon
