parameters:
	ignoreErrors:
		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/src/Controllers/FileController.php

		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/src/Controllers/FileInfoController.php

		-
			message: '#^Cannot access offset ''mtime'' on array\{0\: int, 1\: int, 2\: int, 3\: int, 4\: int, 5\: int, 6\: int, 7\: int, \.\.\.\}\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/src/Controllers/ZipController.php

		-
			message: '#^Method App\\Controllers\\ZipController\:\:createZip\(\) throws checked exception Exception but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: app/src/Controllers/ZipController.php

		-
			message: '#^Property App\\Factories\\FinderFactory\:\:\$sortMethods type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/src/Factories/FinderFactory.php

		-
			message: '#^Parameter \#2 \$callable of class Twig\\TwigFilter constructor expects array\{class\-string, string\}\|\(callable\(\)\: mixed\)\|null, App\\Filters\\ViewFilter given\.$#'
			identifier: argument.type
			count: 1
			path: app/src/Factories/TwigFactory.php

		-
			message: '#^Parameter \#2 \$callable of class Twig\\TwigFunction constructor expects array\{class\-string, string\}\|\(callable\(\)\: mixed\)\|null, App\\Functions\\ViewFunction given\.$#'
			identifier: argument.type
			count: 1
			path: app/src/Factories/TwigFactory.php

		-
			message: '#^Property App\\Factories\\TwigFactory\:\:\$viewFilters type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/src/Factories/TwigFactory.php

		-
			message: '#^Property App\\Factories\\TwigFactory\:\:\$viewFunctions type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/src/Factories/TwigFactory.php

		-
			message: '#^Property App\\Functions\\Icon\:\:\$icons type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/src/Functions/Icon.php

		-
			message: '#^Cannot access offset ''mtime'' on array\{0\: int, 1\: int, 2\: int, 3\: int, 4\: int, 5\: int, 6\: int, 7\: int, \.\.\.\}\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/src/Functions/ModifiedTime.php

		-
			message: '#^Caught class DateInvalidTimeZoneException not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/src/Functions/ModifiedTime.php

		-
			message: '#^Method App\\Functions\\ModifiedTime\:\:__invoke\(\) throws checked exception Exception but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: app/src/Functions/ModifiedTime.php

		-
			message: '#^Method App\\Functions\\ModifiedTime\:\:__invoke\(\) throws checked exception ValueError but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: app/src/Functions/ModifiedTime.php

		-
			message: '#^Method App\\Functions\\SizeForHumans\:\:__invoke\(\) throws checked exception DivisionByZeroError but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: app/src/Functions/SizeForHumans.php

		-
			message: '#^Property App\\Managers\\MiddlewareManager\:\:\$middlewares type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/src/Managers/MiddlewareManager.php

		-
			message: '#^Property App\\Middlewares\\CacheControlMiddleware\:\:\$httpCache type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/src/Middlewares/CacheControlMiddleware.php

		-
			message: '#^Parameter \#1 \$finfo of function finfo_buffer expects finfo, finfo\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Exceptions/ErrorHandlerTest.php
