parameters:
  ignoreErrors:
    - message: "/^Method .+ throws checked exception .+ but it's missing from the PHPDoc @throws tag.$/"
      path: tests/*
    - message: "#^Method .+ has parameter .+ with no value type specified in iterable type array\\.$#"
      path: tests/*
    - message: "#^Method .+ return type has no value type specified in iterable type array\\.$#"
      path: tests/*
