parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Bootstrap\\Builder\:\:createApp\(\) throws checked exception DI\\NotFoundException but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: app/src/Bootstrap/Builder.php

		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/src/Controllers/FileController.php

		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/src/Controllers/FileInfoController.php

		-
			message: '#^Cannot access offset ''mtime'' on array\{0\: int, 1\: int, 2\: int, 3\: int, 4\: int, 5\: int, 6\: int, 7\: int, \.\.\.\}\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/src/Controllers/ZipController.php

		-
			message: '#^Method App\\Controllers\\ZipController\:\:createZip\(\) throws checked exception DateMalformedStringException but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: app/src/Controllers/ZipController.php

		-
			message: '#^Method App\\Factories\\TwigFactory\:\:__invoke\(\) throws checked exception ReflectionException but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: app/src/Factories/TwigFactory.php

		-
			message: '#^Cannot access offset ''mtime'' on array\{0\: int, 1\: int, 2\: int, 3\: int, 4\: int, 5\: int, 6\: int, 7\: int, \.\.\.\}\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/src/ViewFunctions/ModifiedTime.php

		-
			message: '#^Method App\\ViewFunctions\\ModifiedTime\:\:__invoke\(\) throws checked exception ValueError but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: app/src/ViewFunctions/ModifiedTime.php

		-
			message: '#^Method App\\ViewFunctions\\SizeForHumans\:\:__invoke\(\) throws checked exception DivisionByZeroError but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: app/src/ViewFunctions/SizeForHumans.php

		-
			message: '#^Parameter \#1 \$finfo of function finfo_buffer expects finfo, finfo\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Exceptions/ErrorHandlerTest.php
