parameters:
  level: 8

  paths:
    - app
    - tests

  excludePaths:
    - app/cache/*
    - app/vendor/*

  tmpDir: .cache/phpstan

  stubFiles:
    - stubs/DI/Container.stub

  checkFunctionNameCase: true

  exceptions:
    implicitThrows: false

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    uncheckedExceptionClasses:
      - DI\DependencyException
      - DI\NotFoundException
      - InvalidArgumentException
      - Invoker\Exception\NotCallableException
      - JsonException
      - LogicException
      - PHPUnit\Framework\Exception
      - Psr\Cache\InvalidArgumentException
      - Random\RandomException
      - RuntimeException
      - SebastianBergmann\RecursionContext\InvalidArgumentException
      - Symfony\Component\Cache\Exception\CacheException
      - Twig\Error\Error

  ignoreErrors:
    - identifier: property.onlyRead

includes:
  - phpstan-baseline.neon
  - phpstan-ignores.neon
