<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{{ asset('app.js') }}" defer></script>
<link rel="icon" href="/app/resources/images/favicon.{{ config('dark_mode') ? 'dark' : 'light' }}.png">

<link rel="stylesheet" href="{{ asset('app.css') }}">

<title>Directory Lister</title>

<div id="app" class="font-mono min-h-screen z-0 {{ config('dark_mode') ? 'dark-mode' : '' }}">
    {% block content %}{% endblock %}
</div>
