{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="flex flex-col h-screen">
        {% include 'components/header.twig' %}

        <div id="content" class="flex-grow container flex justify-center items-center mx-auto px-4">
            <p class="font-sans font-light text-4xl text-gray-600">
                404 &bull; Not Found
            </p>
        </div>

        {% include 'components/footer.twig' %}
    </div>
{% endblock %}
