{% extends 'layouts/app.twig' %}

{% block content %}
    {% include 'components/header.twig' %}

    <div id="content" class="flex-grow container flex justify-center items-center mx-auto px-4">
        <p class="font-sans font-light text-4xl text-gray-600">
            404 &bull; Not Found
        </p>
    </div>

    {% include 'components/footer.twig' %}
{% endblock %}
