{% extends 'layouts/app.twig' %}

{% block content %}
    <div id="content" class="container flex flex-col justify-center items-center h-screen mx-auto px-4">
        <p class="font-sans font-light text-4xl text-gray-600">
            404 &bull; Not Found
        </p>
    </div>
{% endblock %}
