{% extends "layouts/app.twig" %}

{% block content %}
    {% include "components/header.twig" %}

    <div id="content" class="container mx-auto px-4">
        <ul id="file-list" class="py-4">
            <div class="flex justify-between font-bold p-4">
                <div class="flex-grow mr-2">
                    File Name
                </div>

                <div class="hidden text-right w-1/6 mx-2 sm:block">
                    Size
                </div>

                <div class="hidden text-right w-1/4 ml-2  sm:block">
                    Date
                </div>
            </div>

            {% if not is_root %}
                {{ include('components/file.twig', {
                    parentDir: true
                }, with_context = false) }}
            {% endif %}

            {% for file in files %}
                {{ include('components/file.twig') }}
            {% endfor %}
        </ul>
    </div>

    <footer class="container border-t-2 border-gray-800 text-center mx-auto px-4 py-8">
        <div class="pb-2">
            Powered by <a href="https://www.directorylister.com" class="underline hover:text-blue-700">Directory Lister</a>

            <a href="https://twitter.com/DirectoryLister" title="Twitter" class="text-gray-400 hover:text-twitter">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="https://github.com/DirectoryLister/DirectoryLister" title="GitHub" class="text-gray-400 hover:text-gray-800">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </footer>

    <a id="scroll-to-top"
        onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });"
        class="flex justify-center items-center w-12 h-12 fixed bottom-0 right-0 rounded-full shadow-lg bg-blue-600 text-white cursor-pointer p-2 mx-10 my-6 hover:bg-blue-700 hidden"
    >
        <i class="fas fa-arrow-up fa-lg"></i>
    </a>

    <file-info-modal ref="fileInfoModal"></file-info-modal>
{% endblock %}
