{% extends "layouts/app.twig" %}

{% block content %}
    {% include "components/header.twig" %}

    <div id="content" class="flex-grow container mx-auto px-4">
        <ul id="file-list" class="py-4">
            <div class="flex justify-between font-bold p-4">
                <div class="flex-grow mr-2">
                    File Name
                </div>

                <div class="hidden text-right w-1/6 mx-2 sm:block">
                    Size
                </div>

                <div class="hidden text-right w-1/4 ml-2  sm:block">
                    Date
                </div>
            </div>

            {% if not search and not is_root %}
                {{ include('components/file.twig', {
                    parentDir: true
                }, with_context = false) }}
            {% endif %}

            {% for file in files %}
                {{ include('components/file.twig') }}
            {% endfor %}
        </ul>

        {% if readme %}
            <div id="readme" class="rounded-lg overflow-hidden shadow-md my-12">
                <div class="flex items-center bg-blue-600 px-4 py-3 text-white">
                    <i class="fab fa-readme fa-lg pr-3"></i> README.md
                </div>

                <article class="bg-gray-100 border rounded-b-lg px-12 py-8 markdown">
                    {{ readme | raw }}
                </article>
            </div>
        {% endif %}
    </div>

    {% include 'components/footer.twig' %}

    <a id="scroll-to-top"
        class="flex justify-center items-center w-12 h-12 fixed bottom-0 right-0 rounded-full shadow-lg bg-blue-600 text-white cursor-pointer p-2 mx-10 my-6 hover:bg-blue-700 hidden"
        onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });" title="Scroll to Top"
    >
        <i class="fas fa-arrow-up fa-lg"></i>
    </a>

    <file-info-modal ref="fileInfoModal"></file-info-modal>
{% endblock %}
