{% extends "layouts/app.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% include "components/header.twig" %}

    <div id="content" class="flex-grow container mx-auto px-4">
        <ul id="file-list" class="my-4">
            <div class="flex justify-between font-bold p-4">
                <div class="flex-grow mr-2">
                    File Name
                </div>

                <div class="hidden text-right w-1/6 mx-2 sm:block">
                    Size
                </div>

                <div class="hidden text-right w-1/4 ml-2  sm:block">
                    Date
                </div>
            </div>

            {% if not search and not is_root %}
                {{ include('components/file.twig', {
                    parentDir: true
                }, with_context = false) }}
            {% endif %}

            {% for file in files %}
                {{ include('components/file.twig') }}
            {% endfor %}
        </ul>

        {% if readme %}
            {% include 'components/readme.twig' %}
        {% endif %}
    </div>

    {% include 'components/footer.twig' %}

    {% include 'components/scroll-to-top.twig' %}
    <file-info-modal ref="fileInfoModal"></file-info-modal>
{% endblock %}
