<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Directory Lister</title>

<ul>
    {% for file in files %}
        <li>
            {{ file.getBasename }}
        </li>
    {% endfor %}
</ul>
