/* -------------------------------------------------------------------------- */
/* -----| DIRECTORYLISTER |-------------------------------------------------- */
/* -------------------------------------------------------------------------- */

html {
    font-size: 100%;
}

body {
	color: #333;
	background: #FFF url(../images/bg.png) repeat top left;
	font-family: sans-serif, serif, helvetica;
	font-size: .8em;
}

#contentWraper {
    background-color: #555;
    margin: 20px auto 0;
    padding: 0 5px 5px;
    width: 760px;
}

#header {
    color: #FFF;
    font-weight: bold;
    padding: 3px 0 2px;
}

#header .fileName {
    width: 510px;
}

.fileName {
    float: left;
    margin: 3px;
    overflow: none;
    width: 490px;
}

.fileSize {
    float: left;
    margin: 3px;
    text-align: right;
    width: 100px;
}

.fileModTime {
    float: right;
    margin: 3px;
    text-align: right;
    width: 130px;
}

#directoryListing {
    margin: 0;
}

#directoryListing li {
    background-color: #FFF;
    display: block;
    list-style: none;
}

/*#directoryListing li.even a {
    background-color: #FFF;
}

#directoryListing li.odd a {
    background-color: #FFF;
}*/

#directoryListing li a {
    background: transparent url(../images/icons/blank.png) no-repeat 3px center;
    border-top: 1px solid #555;
    color: #333;
    display: block;
    padding-left: 20px;
    text-decoration: none;
}

#directoryListing li a:focus {
    background-color: #DEDEDE;
    outline: none;
}

#directoryListing li a:hover {
    background-color: #DC4C00;
    color: #FFF;
    outline: none;
}

#directoryListing li a.back {
    background-image: url(../images/icons/back.png);
}

#directoryListing li a.directory {
    background-image: url(../images/icons/folder.png);
}

#directoryListing li a.code {
    background-image: url(../images/icons/code.png);
}

#directoryListing li a.text {
    background-image: url(../images/icons/text.png);
}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#footer {
    font-size: .9em;
    margin: 0 auto 20px;
    width: 760px;
}

#footer .left,
#footer .right {
    margin: 3px;
}
