/* -------------------------------------------------------------------------- */
/* -----| DIRECTORYLISTER |-------------------------------------------------- */
/* -------------------------------------------------------------------------- */

html {
    font-size: 100%;
}

body {
	color: #333;
	background: #FFF url(../images/bg.png) repeat top left;
	font-family: arial, sans-serif, serif, helvetica;
	font-size: .8em;
}

#contentWraper {
    background-color: #555;
    margin: 20px auto 0;
    padding: 0 5px 5px;
    width: 760px;
}

#header {
    color: #FFF;
    font-weight: bold;
    padding: 3px 0 2px;
}

#header .fileName {
    display: inline-block;
    margin: 3px;
    overflow: none;
    width: 501px;
}

#header .fileSize {
    display: inline-block;
    margin: 3px;
    text-align: right;
    width: 100px;
}

#header .fileModTime {
    display: inline-block;
    float: right;
    margin: 3px;
    text-align: right;
}

#directoryListing {
    margin: 0;
}

#directoryListing li {
    background-color: #FFF;
    display: block;
    list-style: none;
}

/*#directoryListing li.even a {
    background-color: #FFF;
}

#directoryListing li.odd a {
    background-color: #FFF;
}*/

#directoryListing li a {
    border-top: 1px solid #555;
    color: #333;
    display: block;
    text-decoration: none;
}

#directoryListing li a:focus {
    background-color: #DEDEDE;
    outline: none;
}

#directoryListing li a:hover {
    background-color: #DC4C00;
    color: #FFF;
    outline: none;
}

#directoryListing .fileIcon {
    display: inline-block;
    float: left;
    margin: 3px;
    margin-right: -19px;
    width: 16px;
}

#directoryListing .fileName {
    display: inline-block;
    float: left;
    margin: 3px;
    margin-left: 22px;
    overflow: hidden;
    white-space: nowrap;
    width: 485px;
}

#directoryListing .fileSize {
    display: inline-block;
    float: left;
    margin: 3px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    width: 100px;
}

#directoryListing .fileModTime {
    display: inline-block;
    float: right;
    margin: 3px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#footer {
    font-size: .9em;
    margin: 0 auto 20px;
    width: 760px;
}

#footer .left,
#footer .right {
    margin: 3px;
}
