@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Source Code Pro";
    src: url("../fonts/SourceCodePro.woff2") format("woff2");
    font-display: swap;
    font-weight: 200 900;
}

@font-face {
    font-family: "Work Sans";
    src: url("../fonts/WorkSans.woff2") format("woff2");
    font-display: swap;
    font-weight: 100 900;
}

@theme {
    --color-bluesky: #0886FE;
    --color-github: #171515;

    --font-mono: Source Code Pro;
    --font-sans: Work Sans;
}

@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/brands.css";
@import "@fortawesome/fontawesome-free/css/solid.css";

/* @plugin "@tailwindcss/typography"; */
@import "./markdown.css";

.light {
    @import 'highlight.js/styles/github.css';
}

.dark {
    @import 'highlight.js/styles/github-dark.css';
}

[x-cloak] {
    @apply hidden;
}
