@import "./fonts.css";

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-bluesky: #0886FE;
    --color-github: #171515;

    --font-merriweather: Merriweather;
    --font-mono: Source Code Pro;
    --font-sans: Work Sans;
}

@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/brands.css";
@import "@fortawesome/fontawesome-free/css/solid.css";

/* @plugin "@tailwindcss/typography"; */
@import "./markdown.css";

.light {
    @import 'highlight.js/styles/github.css';
}

.dark {
    @import 'highlight.js/styles/github-dark.css';
}

[x-cloak] {
    @apply hidden;
}
